header {
  display: grid;
  justify-content: center;
  grid-template-areas: "logo main-nav main-nav search-btn";
  align-items: center;
  grid-template-columns: minmax(10vw, 15vw) 1fr 1fr minmax(10vw, 15vw);
  height: auto;
  max-height: 6rem;
  background: $cl-theme-pr;
  position: relative;

  .header-logo,
  .search {
    display: flex;
    justify-content: center;
    // align-items: center;
  }
  .header-logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    padding-top: 0.4rem;

    a {
      text-decoration: none;
    }
    #logo {
      max-height: 3.8rem;
    }
  }
  .search,
  .header-logo #logo {
    margin: 0;
  }
  .navbar {
    grid-area: main-nav;

    ul {
      padding: 0;
      display: flex;
      justify-content: flex-end;

      align-items: center;
      li {
        padding: 0.5rem 1.5rem;
        a {
          color: $cl-txt-sc;
          font-weight: 700;
          font-size: 1.2rem;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translateY(50%);
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 200ms ease-in;
            display: block;
            height: 2px;
            width: 100%;

            background-color: $cl-txt-sc;
          }
          &:hover::after {
            transform: scaleX(1);
            transform-origin: left;
          }
        }
      }
    }
    .item-active {
      // font-weight: 700 !important;
      color: $cl-txt-pr !important;
      &::after {
        transform: scaleX(1);
      }
    }
  }
  .search {
    grid-area: search-btn;
    .search-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $cl-transparent;
      width: 2.5rem;
      height: 2.5rem;
      border: 0.2rem solid transparent;
      padding: 0.1rem;
      border-radius: 50%;
      cursor: pointer;
      border: none;
      span {
        padding: 0.5rem 0.5rem;
        color: $cl-txt-pr;
        // font-size: 2rem;
        // font-weight: bold;
        svg {
          transform: scale(1);
          transition: transform 200ms ease-in;
          &:hover {
            transform: scale(1.3);
          }
        }
      }
      &:focus {
        box-shadow: 0 0 0.05rem 0.15rem rgba(228, 225, 225, 0.609);
        outline: transparent;
      }
    }
  }
}

@media (max-width: 960px) {
  header {
    // padding: 0.8rem 1.5rem;
    padding: 0 1.5rem;
    max-height: 5.5rem;

    .header-logo a #logo {
      max-height: 3.5rem;
    }
    .navbar,
    .search {
      display: none;
    }
  }
}
