article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
a {
  color: transparent;
}
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
img {
  margin: 0;
}

* {
  // margin: 0 auto;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  margin: 0 auto;
  overflow-x: hidden;
}
button {
  span {
    user-select: none !important;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(78vh, 1fr) minmax(15vh, auto);
  grid-template-areas:
    "p-header"
    "p-body"
    "p-footer";
}
header {
  grid-area: p-header;
}

footer {
  grid-area: p-footer;
}

main {
  grid-area: p-body;
  justify-content: center;
  margin: 0 auto;
  width: calc(100% - 2rem);
  max-width: 1200px;
}

footer {
  padding: 0.8rem 0;
}
