/* ------------- text colors ------------- */
$cl-txt-pr: #fff;
$cl-txt-sc: #ebe8e8;
$cl-txt-pr-dark: #111111;
$cl-txt-sc-dark: #313030;

/* ------------- theme colors ------------ */
$cl-theme-pr: #10471c;
$cl-theme-pr-light: #3f7344;
$cl-theme-pr-dark: #002000;
$cl-theme-sc: #a8b267;
$cl-theme-sc-light: #dbe496;
$cl-theme-sc-dark: #78833b;

/* ------------ special colors ----------- */
$cl-transparent: #ffffff00;
