#featured-post {
  display: grid;
  grid-template-columns: 1fr minmax(20vw, 32vw);
  grid-template-areas: "featured-img featured-cont";
  // justify-content: center;
  align-items: center;
  padding: 2rem 0;
  // background-color: rgb(241, 235, 235);
  color: #000000e6;
  // border-radius: 1rem;
  height: auto;
  width: calc(100% - 2rem);
  max-width: 1400px;
  margin: 0 auto;

  // z-index: 1;
  .featured-post-photo,
  .featured-post-content {
    padding: 1.5rem 1rem;
  }

  .featured-post-photo {
    grid-area: featured-img;
    display: block;
    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
    }
  }

  .featured-post-content {
    grid-area: featured-cont;
    cursor: pointer;
    @include text-block;

    p {
      @include multiline-text-shorten;
    }
  }

  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "featured-img"
      "featured-cont";
    padding: 0;

    .featured-post-content {
      padding: 1rem 0;
    }

    .shrink {
      padding: 2.5rem 0 0 0;

      /*  .wide-image {
          width: 100vw;
          max-width: 100vw;
          margin: 0 calc(-50vw + 50%);
  
          height: calc(45vh - 5%);
        } */
    }
  }
}
