#about-page {
  padding: 3rem 0;
  position: relative;
  display: grid;
  grid-template-columns: minmax(5vw, auto) auto 1fr auto;
  gap: 1rem;
  grid-template-areas:
    "hero hero hero hero"
    ". profile-img greeting greeting"
    "body body body body";
  .about-page-hero {
    grid-area: hero;
    max-height: 40vh;
    width: 100%;
    /* background-color: #242222c7;
    background-size: cover;
    background-position: center; */
    z-index: 0;
    img {
      // max-height: 40vh;
      object-fit: cover;
      object-position: center;
    }
  }
  .about-page-greeting {
    grid-area: greeting;
  }
  .about-page-profile-img {
    grid-area: profile-img;
    transform: translateY(-50%);
    z-index: 1;
    background-color: #242222c7;
    // max-height: 5rem;
    // max-width: 5rem;
    /* 
    height: 14rem;
    width: 14rem;
     */
    border: 0.3rem solid $cl-theme-pr-light;
    border-radius: 50%;
    position: relative;
    // object-position: 100% 20%;
  }

  @media only screen and (max-width: 468px) {
    grid-template-columns: 2vw auto auto auto;
    gap: 0.2rem;
    .about-page-profile-img {
      max-height: 5rem;
      max-width: 5rem;
    }
  }
  .about-page-body {
    grid-area: body;
  }

  @media only screen and (max-width: 960px) {
    .about-page-hero {
      width: 100vw;
      margin: 0 calc(-50vw + 50%);
    }
  }
}
